<h2 *ngIf="isAdd">Add product</h2>
<h2 *ngIf="isEdit">Edit product</h2>
<form (ngSubmit)="onSubmit()" [formGroup]="productForm">
  <div class="form-group">
    <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" placeholder="Name" formControlName="name" minlength="2">
    <label for="price">Price</label>
      <input type="text" class="form-control" id="price" name="price" placeholder="Price" formControlName="price" minlength="2">
    <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description" placeholder="Description" formControlName="description" minlength="2">
    <label for="amount">Amount in stock</label>
      <input type="text" class="form-control" id="amount" name="amount" placeholder="Amount in stock" formControlName="amount" minlength="2">
  </div>
    <button  type="submit" class="btn btn-primary" *ngIf="isAdd" [disabled]="!productForm.valid || isSubmitted" >Add</button>
    <button type="submit" class="btn btn-primary" *ngIf="isEdit" [disabled]="!productForm.valid || isSubmitted" >Save</button>
</form>
