<h1>Categorieën</h1>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{ errorMessage }}
</div>


<div class="col-md-12 pb-3 pt-2 d-flex justify-content-between">
  <button type="button" class="btn btn-success addBtn" (click)="add()">
    <i class="fas fa-plus"></i></button>
  <mat-checkbox (change)="onShowNonActive()">Toon categorieën die niet actief zijn.</mat-checkbox>
</div>

<table class="table table-hover" *ngIf="categories && categories.length > 0">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Active?</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cat of categories">

      <td scope="row">{{ cat.name }}</td>
      <td *ngIf="!cat.isActive">
        <button type="button" class="btn py-0 align-self-center" (click)="toggleActive(cat)" >
        <i class="fas fa-times"></i>
        </button>
      </td>
      <td *ngIf="cat.isActive">
        <button type="button" class="btn py-0 align-self-center" (click)="toggleActive(cat)" >
          <i class="fas fa-check"></i>
        </button></td>
      <td>
        <button type="button" class="btn py-0 align-self-center" (click)="edit(cat._id!)" >
          <i class="fas fa-edit edit"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
