<h1>Categories</h1>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage">
  {{errorMessage}}
</div>

<table class="table" *ngIf="categories && categories.length > 0">
  <thead>
      <tr class="item">
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Active?</th>
          <th scope="col">Actions</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let cat of categories" class="item">
          <th scope="row">{{cat.id}}</th>
          <td>{{cat.name}}</td>
          <td *ngIf="cat.isActive == false">Not Active</td>
          <td *ngIf="cat.isActive == true">Active</td>
          <td>
              <button type="button" class="btn py-0  align-self-center" (click)="edit(cat.id)"><i class="fas fa-edit edit"></i></button>
              <button type="button" class="btn py-0  align-self-center" (click)="toNonActive(cat)"><i class="far fa-trash-alt delete"></i></button>
              <!-- <button class="btn col-md-2 py-0  align-self-center"><i class="fas fa-trash-alt"></i></button> -->
          </td>
      </tr>
  </tbody>
</table>
<div class="col-md-12 text-center">
<button type="button" class="btn btn-success  m-auto" (click)="add()"><i class="fas fa-plus"></i></button>
</div>
<!-- <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
  <mat-icon>delete</mat-icon>
</button> -->
