<div *ngIf="!isLoading">
  <h1>Payment form</h1>
  <form [formGroup]="paymentForm" (submit)="onSubmit($event)">
    <div class="form-group">
      <label for="address">Address</label>
      <input
        type="text"
        class="form-control"
        id="address"
        name="address"
        placeholder="Streetname + number"
        formControlName="address"
        minlength="2"
      />
      <label for="city">City</label>
      <input
        type="text"
        class="form-control"
        id="city"
        name="city"
        placeholder="City"
        formControlName="city"
        minlength="2"
      />
      <label for="postalCode">Postal Code</label>
      <input
        type="text"
        class="form-control"
        id="postalCode"
        name="postalCode"
        placeholder="Postal Code"
        formControlName="postalCode"
        minlength="4"
      />
      <input type="hidden" name="user_email" id="user_email" [value]="user!.email"/>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="!paymentForm.valid || isSubmitted"
    >
      Confirm payment
    </button>
  </form>
</div>
<div *ngIf="isLoading">
  Loading
</div>
