<div class="mt-3">
  <h1>Products</h1>
  <button class="btn btn-success addBtn" (click)="addProduct()"><i class="fas fa-plus"></i></button>
  <table class="table table-hover" *ngIf="products && products.length>0">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Stock</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Active?</th>
        <th scope="col">Price</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td scope="row"><img src="{{product.imageLocation}}" alt="Product image"></td>
        <td>{{product.name}}</td>
        <td>{{product.stockCount}}</td>
        <td>{{product.description}}</td>
        <td>{{product.category.name}}</td>
        <td *ngIf="product.isActive"><button type="button" class="btn py-0 align-self-center" (click)='toggleActive(product)'><i class="fas fa-check"></i></button></td>
        <td *ngIf="!product.isActive"><button type="button" class="btn py-0 align-self-center" (click)='toggleActive(product)'><i class="fas fa-times"></i></button></td>
        <td>€ {{product.price}}</td>
        <td>
          <button class="btn col-6 edit" (click)='edit(product)'><i class="fas fa-edit edit"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
