.left, .right{
  width: 400px;
}

p{
  margin: 0;
}

.price, .name{
  font-size: 20px;;
}

.stock{
  color: forestgreen;
}

.outOfStock{
  color: rgb(202, 60, 60);
}

.redBold{
  color: rgb(202, 60, 60);
  font-weight: bold;
  font-size: 18px;
}


img{
  width: 70px;
  height: auto;
}
