<div *ngIf="product.id == '0' && product._id == '0'">
  Loading
</div>
<div class="container" *ngIf="product.id != '0' || product._id != '0'">
  <div class="card">
    <div class="card-body">
  <div class="d-flex flex-wrap-reverse justify-content-center">
    <div class="product-image left p-4 d-flex justify-content-center">
      <img src={{product.imageLocation}} alt="Product" />
    </div>

    <div class="product-detail right p-4">

      <p class="font-weight-bold name">{{ product.name }}</p>
      <p class="font-italic">{{ product.category!.name }}</p>
      <p class="price">
        Price: <span class="redBold">€{{ product.price }}</span>
      </p>

      <p *ngIf="product.stockCount > 0" class="green">
        In Stock: {{ product.stockCount }}
      </p>
      <p *ngIf="product.stockCount <= 0" class="notinstock">Out of stock!</p>
    </div>
  </div>

  <div class="d-flex flex-wrap justify-content-center">
    <div class="product-description left p-4">
      <p class="font-weight-bold">About this product:</p>
      <p>{{ product.description }}</p>
    </div>

    <div class="product-buttons right p-4 d-flex flex-column justify-content-end">
      <p class="green">{{ addedToCartMessage }}</p>
      <p class="yellow">{{ confirmMessage }}</p>
      <p class="red">{{ errorMessage }}</p>
      <form (ngSubmit)="onSubmit()" [formGroup]="addProductToCartForm">
        <label for="amount">Amount</label>
        <input
          type="number"
          class="form-control m-2"
          id="amount"
          name="amount"
          value="1"
          formControlName="amount"
          min="1"
          [max]="product.stockCount"
          step="1"/>
        <button
          class="btn btn-primary m-2"
          type="submit"
          [disabled]="!addProductToCartForm.valid || product.stockCount == 0"
          *ngIf="!showConfirmButton">
          <span>Add to basket</span>

        </button>
        <button
          class="btn btn-success m-2"
          type="submit"
          [disabled]="!addProductToCartForm.valid || product.stockCount == 0"
          *ngIf="showConfirmButton">
          <span>Confirm</span>

        </button>

      </form>
    </div>
  </div>
</div>
</div>
</div>

<ng-template #outOfStock>
  <p class="red">Niet in Stock</p>
</ng-template>
