i {
  &.edit{
    color: #5cb85c ;

    &:hover{
      color: black;
    }
  }
  &.delete{
    color: rgb(202, 60, 60) !important;

    &:hover{
      color: black;
    }
  }
}

.product {
  border-top:1px solid #000;
}

.btn-success{
  border-radius: 50%;
  margin-bottom: 20px;
}

.img{
  text-align: center;
  align-self: center;
  vertical-align: middle;
}

img{
  max-height: 90px;
  max-width: 90px;
  height: auto;
}

.fa-check{
  color: rgb(47, 184, 35);
}

.fa-times{
  color: rgb(202, 60, 60);
}
