<div class="d-flex justify-content-between">
  <mat-form-field appearance="fill">
    <section></section>
    <mat-label>Filter on category</mat-label>
    <mat-select [(value)]="selectedCategory" (selectionChange)="onFilter()">
      <mat-option value="0">All categories</mat-option>
      <mat-option *ngFor="let category of categories" [value]="category._id!">
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <section>
    <mat-checkbox (change)="onShowOutOfStock()"
      >Toon items die niet op vooraad zijn.</mat-checkbox
    >
    <!-- <input formControlName="showOutOfStock"  type="checkbox" (change)="onShowOutOfStock()"/> -->
  </section>
</div>

<div class="row">
  <div class="col-12 col-sm-6 col-md-4 pb" *ngFor="let product of products">
    <!-- <a href="product/{{product.id}}"> -->
    <div class="card" (click)="toDetail(product._id!)">
      <div class="card-body">
        <img src="../../assets/images/aquarius.jpg" alt="Aquarius" />
      </div>
      <div class="card-footer d-flex justify-content-between">
        <p>{{ product.name }}</p>
        <p class="bold red">€ {{ product.price }}</p>
      </div>
    </div>
    <!-- </a> -->
  </div>
</div>
