<h1 class="text-center text-md-left">Winkelmandje</h1>
<div class="container">
<div class="row">
  <div class="col-12 col-lg-9 ">
    <div class="card">
      <div class="card-body mh">
        <app-basket-item *ngFor="let basketItem of basketItems" [basketItem]="basketItem" class="col-12" (sendItemAmountEvent)="updateTotal($event)" (deleteBasketItemEvent)="deleteBasketItem($event)"></app-basket-item>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 col-md-12 col-sm-12"   >
    <div class="align">
    <div class="card width">
      <div class="card-title">
        <h4 class="text-center">Bestelling</h4>
      </div>
      <div class="card-body">
        <p class=" col-12 text-center">Totaal: <span class="bedrag">€ {{ totalRounded }}</span></p>
      </div>
        <button type="button" (click)="goToPayment(basket!._id)" class="btn btn-success w">Bestellen</button>
    </div>
  </div>
  </div>
  </div>
</div>

