<h2>Get products</h2>
<h4>first product</h4>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">description</th>
      <th scope="col">isActive</th>
      <th scope="col">stockCount</th>
      <th scope="col">imageLocation</th>
      <th scope="col">expirationDate</th>
      <th scope="col">color</th>
      <th scope="col">size</th>
      <th scope="col">amount</th>
      <th scope="col">CategoryID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{products[0]._id}}</td>
      <td>{{products[0].name}}</td>
      <td>{{products[0].price}}</td>
      <td>{{products[0].description}}</td>
      <td>{{products[0].isActive}}</td>
      <td>{{products[0].stockCount}}</td>
      <td>{{products[0].imageLocation}}</td>
      <td>{{products[0].expirationDate}}</td>
      <td>{{products[0].color}}</td>
      <td>{{products[0].size}}</td>
      <td>{{products[0].amount}}</td>
      <td>{{products[0].categoryId}}</td>
    </tr>
  </tbody>
</table>

<h4>first product category</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">name</th>
      <th scope="col">isActive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{products[0].category._id}}</td>
      <td>{{products[0].category.name}}</td>
      <td>{{products[0].category.isActive}}</td>

    </tr>
  </tbody>
</table>
<h4>amount</h4>
<div>{{products.length}}</div>

<h2>Get product by ID</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">description</th>
      <th scope="col">isActive</th>
      <th scope="col">stockCount</th>
      <th scope="col">imageLocation</th>
      <th scope="col">expirationDate</th>
      <th scope="col">color</th>
      <th scope="col">size</th>
      <th scope="col">amount</th>
      <th scope="col">CategoryID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{product._id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td>{{product.isActive}}</td>
      <td>{{product.stockCount}}</td>
      <td>{{product.imageLocation}}</td>
      <td>{{product.expirationDate}}</td>
      <td>{{product.color}}</td>
      <td>{{product.size}}</td>
      <td>{{product.amount}}</td>
      <td>{{product.categoryId}}</td>
    </tr>
  </tbody>
</table>

<h4>product category</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">name</th>
      <th scope="col">isActive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{product.category._id}}</td>
      <td>{{product.category.name}}</td>
      <td>{{product.category.isActive}}</td>

    </tr>
  </tbody>
</table>

<h2>Get baskets</h2>
<h4>Second basket</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">userId</th>
      <th scope="col">orderId</th>
      <th scope="col">isActive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{baskets[1]._id}}</td>
      <td>{{baskets[1].userId}}</td>
      <td>{{baskets[1].orderId}}</td>
      <td>{{baskets[1].isActive}}</td>
    </tr>
  </tbody>
</table>
<h4>basket order</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">address</th>
      <th scope="col">city</th>
      <th scope="col">postalCode</th>
      <th scope="col">date</th>
      <th scope="col">basketId</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{baskets[1].order._id}}</td>
      <td>{{baskets[1].order.address}}</td>
      <td>{{baskets[1].order.city}}</td>
      <td>{{baskets[1].order.postalCode}}</td>
      <td>{{baskets[1].order.date}}</td>
      <td>{{baskets[1].order.basketId}}</td>
    </tr>
  </tbody>
</table>

<h4>basket user</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">isAdmin</th>
      <th scope="col">isSuperAdmin</th>
      <th scope="col">email</th>
      <th scope="col">firstName</th>
      <th scope="col">lastName</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{baskets[1].user.isAdmin}}</td>
      <td>{{baskets[1].user._id}}</td>
      <td>{{baskets[1].user.isSuperAdmin}}</td>
      <td>{{baskets[1].user.email}}</td>
      <td>{{baskets[1].user.firstName}}</td>
      <td>{{baskets[1].user.lastName}}</td>
    </tr>
  </tbody>
</table>
<h4>amount</h4>
<div>{{baskets.length}}</div>

<h2>Get baskets by User Id</h2>
<h4>Second basket</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">userId</th>
      <th scope="col">orderId</th>
      <th scope="col">isActive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{userBaskets[1]._id}}</td>
      <td>{{userBaskets[1].userId}}</td>
      <td>{{userBaskets[1].orderId}}</td>
      <td>{{userBaskets[1].isActive}}</td>
    </tr>
  </tbody>
</table>
<h4>basket order</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">address</th>
      <th scope="col">city</th>
      <th scope="col">postalCode</th>
      <th scope="col">date</th>
      <th scope="col">basketId</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{userBaskets[1].order._id}}</td>
      <td>{{userBaskets[1].order.address}}</td>
      <td>{{userBaskets[1].order.city}}</td>
      <td>{{userBaskets[1].order.postalCode}}</td>
      <td>{{userBaskets[1].order.date}}</td>
      <td>{{userBaskets[1].order.basketId}}</td>
    </tr>
  </tbody>
</table>

<h4>basket user</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">isAdmin</th>
      <th scope="col">isSuperAdmin</th>
      <th scope="col">email</th>
      <th scope="col">firstName</th>
      <th scope="col">lastName</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{userBaskets[1].user.isAdmin}}</td>
      <td>{{userBaskets[1].user._id}}</td>
      <td>{{userBaskets[1].user.isSuperAdmin}}</td>
      <td>{{userBaskets[1].user.email}}</td>
      <td>{{userBaskets[1].user.firstName}}</td>
      <td>{{userBaskets[1].user.lastName}}</td>
    </tr>
  </tbody>
</table>
<h4>amount</h4>
<div>{{userBaskets.length}}</div>

<h2>Get basket by ID</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">userId</th>
      <th scope="col">orderId</th>
      <th scope="col">isActive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{basket._id}}</td>
      <td>{{basket.userId}}</td>
      <td>{{basket.orderId}}</td>
      <td>{{basket.isActive}}</td>
    </tr>
  </tbody>
</table>
<h4>basket order</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">address</th>
      <th scope="col">city</th>
      <th scope="col">postalCode</th>
      <th scope="col">date</th>
      <th scope="col">basketId</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{basket.order._id}}</td>
      <td>{{basket.order.address}}</td>
      <td>{{basket.order.city}}</td>
      <td>{{basket.order.postalCode}}</td>
      <td>{{basket.order.date}}</td>
      <td>{{basket.order.basketId}}</td>
    </tr>
  </tbody>
</table>

<h4>basket user</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">isAdmin</th>
      <th scope="col">isSuperAdmin</th>
      <th scope="col">email</th>
      <th scope="col">firstName</th>
      <th scope="col">lastName</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{basket.user._id}}</td>
      <td>{{basket.user.isAdmin}}</td>
      <td>{{basket.user.isSuperAdmin}}</td>
      <td>{{basket.user.email}}</td>
      <td>{{basket.user.firstName}}</td>
      <td>{{basket.user.lastName}}</td>
    </tr>
  </tbody>
</table>

<h2>Get Categories</h2>
<h4>Second category</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">name</th>
      <th scope="col">isActive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{categories[1]._id}}</td>
      <td>{{categories[1].name}}</td>
      <td>{{categories[1].isActive}}</td>
    </tr>
  </tbody>
</table>
<h4>amount</h4>
<div>{{categories.length}}</div>

<h2>Get Category by ID</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">name</th>
      <th scope="col">isActive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{category._id}}</td>
      <td>{{category.name}}</td>
      <td>{{category.isActive}}</td>
    </tr>
  </tbody>
</table>

<h2>Get Orders</h2>
<h4>first order</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">address</th>
      <th scope="col">city</th>
      <th scope="col">postalCode</th>
      <th scope="col">date</th>
      <th scope="col">basketId</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{orders[0]._id}}</td>
      <td>{{orders[0].address}}</td>
      <td>{{orders[0].city}}</td>
      <td>{{orders[0].postalCode}}</td>
      <td>{{orders[0].date}}</td>
      <td>{{orders[0].basketId}}</td>
    </tr>
  </tbody>
</table>
<h4>amount</h4>
<div>{{orders.length}}</div>
<h4>order basket</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">userId</th>
      <th scope="col">orderId</th>
      <th scope="col">isActive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{orders[0].basket._id}}</td>
      <td>{{orders[0].basket.userId}}</td>
      <td>{{orders[0].basket.orderId}}</td>
      <td>{{orders[0].basket.isActive}}</td>
    </tr>
  </tbody>

  <h2>Get Order by id</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">address</th>
      <th scope="col">city</th>
      <th scope="col">postalCode</th>
      <th scope="col">date</th>
      <th scope="col">basketId</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{order._id}}</td>
      <td>{{order.address}}</td>
      <td>{{order.city}}</td>
      <td>{{order.postalCode}}</td>
      <td>{{order.date}}</td>
      <td>{{order.basketId}}</td>
    </tr>
  </tbody>
</table>
<h4>order basket</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">userId</th>
      <th scope="col">orderId</th>
      <th scope="col">isActive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{order.basket._id}}</td>
      <td>{{order.basket.userId}}</td>
      <td>{{order.basket.orderId}}</td>
      <td>{{order.basket.isActive}}</td>
    </tr>
  </tbody>

  <h2>get users</h2>
  <h4>first user</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">isAdmin</th>
      <th scope="col">isSuperAdmin</th>
      <th scope="col">email</th>
      <th scope="col">firstName</th>
      <th scope="col">lastName</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{users[0]._id}}</td>
      <td>{{users[0].isAdmin}}</td>
      <td>{{users[0].isSuperAdmin}}</td>
      <td>{{users[0].email}}</td>
      <td>{{users[0].firstName}}</td>
      <td>{{users[0].lastName}}</td>
    </tr>
  </tbody>
</table>
<h4>amount</h4>
<div>{{users.length}}</div>

<h2>get user by id</h2>
<table class="table">
<thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">isAdmin</th>
    <th scope="col">isSuperAdmin</th>
    <th scope="col">email</th>
    <th scope="col">firstName</th>
    <th scope="col">lastName</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>{{user._id}}</td>
    <td>{{user.isAdmin}}</td>
    <td>{{user.isSuperAdmin}}</td>
    <td>{{user.email}}</td>
    <td>{{user.firstName}}</td>
    <td>{{user.lastName}}</td>
  </tr>
</tbody>
</table>

<h2>get basketItems</h2>
<h4>first basketItem</h4>
<table class="table">
<thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">basketId</th>
    <th scope="col">productId</th>
    <th scope="col">amount</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>{{basketItems[0]._id}}</td>
    <td>{{basketItems[0].basketId}}</td>
    <td>{{basketItems[0].productId}}</td>
    <td>{{basketItems[0].amount}}</td>
  </tr>
</tbody>
</table>
<h4>first basketItem product</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">description</th>
      <th scope="col">isActive</th>
      <th scope="col">stockCount</th>
      <th scope="col">imageLocation</th>
      <th scope="col">expirationDate</th>
      <th scope="col">color</th>
      <th scope="col">size</th>
      <th scope="col">amount</th>
      <th scope="col">CategoryID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{basketItems[0].product._id}}</td>
      <td>{{basketItems[0].product.name}}</td>
      <td>{{basketItems[0].product.price}}</td>
      <td>{{basketItems[0].product.description}}</td>
      <td>{{basketItems[0].product.isActive}}</td>
      <td>{{basketItems[0].product.stockCount}}</td>
      <td>{{basketItems[0].product.imageLocation}}</td>
      <td>{{basketItems[0].product.expirationDate}}</td>
      <td>{{basketItems[0].product.color}}</td>
      <td>{{basketItems[0].product.size}}</td>
      <td>{{basketItems[0].product.amount}}</td>
      <td>{{basketItems[0].product.categoryId}}</td>
    </tr>
  </tbody>
</table>
<h4>first basketItem basket</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">userId</th>
      <th scope="col">orderId</th>
      <th scope="col">isActive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{basketItems[0].basket._id}}</td>
      <td>{{basketItems[0].basket.userId}}</td>
      <td>{{basketItems[0].basket.orderId}}</td>
      <td>{{basketItems[0].basket.isActive}}</td>
    </tr>
  </tbody>
<h4>amount</h4>
<div>{{basketItems.length}}</div>

<h2>get basketItems by basketID</h2>
<h4>first basketItem</h4>
<table class="table">
<thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">basketId</th>
    <th scope="col">productId</th>
    <th scope="col">amount</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>{{basketBasketItems[0]._id}}</td>
    <td>{{basketBasketItems[0].basketId}}</td>
    <td>{{basketBasketItems[0].productId}}</td>
    <td>{{basketBasketItems[0].amount}}</td>
  </tr>
</tbody>
</table>
<h4>first basketItem product</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">description</th>
      <th scope="col">isActive</th>
      <th scope="col">stockCount</th>
      <th scope="col">imageLocation</th>
      <th scope="col">expirationDate</th>
      <th scope="col">color</th>
      <th scope="col">size</th>
      <th scope="col">amount</th>
      <th scope="col">CategoryID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{basketBasketItems[0].product._id}}</td>
      <td>{{basketBasketItems[0].product.name}}</td>
      <td>{{basketBasketItems[0].product.price}}</td>
      <td>{{basketBasketItems[0].product.description}}</td>
      <td>{{basketBasketItems[0].product.isActive}}</td>
      <td>{{basketBasketItems[0].product.stockCount}}</td>
      <td>{{basketBasketItems[0].product.imageLocation}}</td>
      <td>{{basketBasketItems[0].product.expirationDate}}</td>
      <td>{{basketBasketItems[0].product.color}}</td>
      <td>{{basketBasketItems[0].product.size}}</td>
      <td>{{basketBasketItems[0].product.amount}}</td>
      <td>{{basketBasketItems[0].product.categoryId}}</td>
    </tr>
  </tbody>
</table>
<h4>first basketItem basket</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">userId</th>
      <th scope="col">orderId</th>
      <th scope="col">isActive</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{basketBasketItems[0].basket._id}}</td>
      <td>{{basketBasketItems[0].basket.userId}}</td>
      <td>{{basketBasketItems[0].basket.orderId}}</td>
      <td>{{basketBasketItems[0].basket.isActive}}</td>
    </tr>
  </tbody>
<h4>amount</h4>
<div>{{basketItems.length}}</div>
