<h1 *ngIf="isAdd">Nieuwe Administrator</h1>
<h1 *ngIf="isEdit">Administrator Aanpassen</h1>
<div class="alert alert-danger" role="alert" *ngIf="isSubmitted && errorMessage">
  {{errorMessage}}
</div>
<form (ngSubmit)="onSubmit()" [formGroup]="adminForm">
  <div class="form-group d-flex w-100 justify-content-between">
    <div class="w-40">
      <label for="firstName">Voornaam</label>
      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="firstName" formControlName="firstName" minlength="2">
    </div>
    <div class="w-40">
      <label for="lastName">Achternaam</label>
      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="lastName" formControlName="lastName" minlength="2">
    </div>

  </div>

  <div class="form-group">
    <label for="email">Email Addres</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="example@email.com" formControlName="email" minlength="2">
  </div>

  <div class="form-group">
    <label for="password">Wachtwoord</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="password" formControlName="password" minlength="2">
  </div>

  <div class="form-group d-flex">
    <div class="m-2">
      <input type="checkbox" formControlName="isAdmin" id="isAdmin" class="mr-2">
      <label for="isAdmin">is Admin</label>
    </div>
    <div class="m-2">
      <input type="checkbox" formControlName="isSuperAdmin" id="isSuperAdmin" class="mr-2">
      <label for="isSuperAdmin">is Super Admin</label>
    </div>

  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary" *ngIf="isAdd" [disabled]="!adminForm.valid || isSubmitted">Add</button>
    <button type="submit" class="btn btn-primary" *ngIf="isEdit" [disabled]="!adminForm.valid || isSubmitted">Save</button>

  </div>

</form>
