.item {
  border:1px solid #000;
  border-collapse: collapse;
  padding: 4px;
}

i {
  color: rgb(202, 60, 60);

  &:hover{
    color: black;
  }
}

img{
  width: 170px;
  height: auto;
  margin: auto;
}



.p{
  padding-top: 1.6rem;
  width: 100%;
  padding-bottom: 1.6rem;
}

.form-outline{
  width: 100%;
}

.bt{
  border-top: 0.1rem solid #eff1f3;
}
.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
  font-size: 15px;
}

.nowrap{
  white-space: nowrap;
}
