<p *ngIf="isLoading">Loading data</p>
<div class="row bt" *ngIf="!isLoading">
      <div class="row p ">
        <div style="text-align: center;" class="col-3">
          <img src={{product!.imageLocation}} alt="Product image" />
        </div>
        <div class="col-8">
          <p class="bold">{{product!.name}}</p>
          <p class="italic">{{category!.name}}</p>
          <div class="row">
            <div class="col-2">
              <button (click)="removeFromBasket(basketItem._id!)" class="btn align-self-center"><i class="fas fa-trash-alt"></i></button>
            </div>
            <div class="col-7">
                <div (change)="amountChanged()" [formGroup]="amountForm" class="form-outline">
                <input class="form-control align-self-center" type="number" id="basketItemAmount" formControlName="amount" min="1" [max]="product!.stockCount">
                </div>
            </div>

            <div class="col-3">
              <p class="align-self-center align-right bold nowrap">€ {{ itemTotal.total }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>


