.item {
  border:1px solid #000;
  border-collapse: collapse;
  padding: 4px;
}

i {
  color: rgb(202, 60, 60);

  &:hover{
    color: black;
  }
}

img{
  max-height: 170px;
  max-width: 200px;
  height: auto;
  margin: auto;
  max-width: 197px;
}

.p{
  padding-top: 1.6rem;
  width: 100%;
  padding-bottom: 1.6rem;
}

.form-outline{
  width: 100%;
}

.bt{
  border-top: 0.1rem solid #eff1f3;
}
.bold{
  font-weight: bold;
}

.italic{
  font-style: italic;
  font-size: 15px;
}

.nowrap{
  white-space: nowrap;
}

.va{
  padding: 5px 0;
}

@media screen and (max-width: 1200px){
  img{
    max-width: 170px;
  }
}


 @media only screen and (min-width: 600px) {
  img{
    max-width: 170px;
  }
 }

 @media only screen and (min-width: 992px) {
  img{
    max-width: 200px;
  }
 }



